<a href="https://colab.research.google.com/github/TarunKannuchamy/ipl23_Scraping/blob/main/ipl23_batting_summary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Initialising

In [ ]:
!pip install virtualenv
!python -m virtualenv myenv
!source busoft/bin/activate

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: virtualenv in /usr/local/lib/python3.10/dist-packages (20.23.0)
Requirement already satisfied: distlib<1,>=0.3.6 in /usr/local/lib/python3.10/dist-packages (from virtualenv) (0.3.6)
Requirement already satisfied: filelock<4,>=3.11 in /usr/local/lib/python3.10/dist-packages (from virtualenv) (3.12.0)
Requirement already satisfied: platformdirs<4,>=3.2 in /usr/local/lib/python3.10/dist-packages (from virtualenv) (3.3.0)
created virtual environment CPython3.10.11.final.0-64 in 275ms
  creator CPython3Posix(dest=/content/myenv, clear=False, no_vcs_ignore=False, global=False)
  seeder FromAppData(download=False, pip=bundle, setuptools=bundle, wheel=bundle, via=copy, app_data_dir=/root/.local/share/virtualenv)
    added seed packages: pip==23.1.2, setuptools==67.7.2, wheel==0.40.0
  activators BashActivator,CShellActivator,FishActivator,NushellActivator,PowerShellActivator,PythonActivator
/bin/bash: busoft/bin/activate: No such file or directory

In [ ]:
!pip install numpy
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.22.4)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [ ]:
!pip install beautifulsoup4

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (4.11.2)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4) (2.4.1)

In [ ]:
import pandas as pd
import re

# URL

In [ ]:
import requests
from bs4 import BeautifulSoup

url2 = 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/match-schedule-fixtures-and-results'
response2 = requests.get(url2)
soup = BeautifulSoup(response2.content, 'html.parser')
link_classes = soup.find_all('div', class_='ds-grow ds-px-4 ds-border-r ds-border-line-default-translucent')
urls = []
for link_class in link_classes:
  a_tags = link_class.find_all('a', class_="ds-no-tap-higlight")
  links = [f"https://www.espncricinfo.com{link.get('href')}" for link in a_tags if 'href' in link.attrs]
  urls.extend(links)

print(urls)

['https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/gujarat-titans-vs-chennai-super-kings-1st-match-1359475/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/punjab-kings-vs-kolkata-knight-riders-2nd-match-1359476/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/lucknow-super-giants-vs-delhi-capitals-3rd-match-1359477/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/sunrisers-hyderabad-vs-rajasthan-royals-4th-match-1359478/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/royal-challengers-bangalore-vs-mumbai-indians-5th-match-1359479/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/chennai-super-kings-vs-lucknow-super-giants-6th-match-1359480/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/delhi-capitals-vs-gujarat-titans-7th-match-1359481/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/rajasthan-royals-vs-punjab-kings-8th-match-1359482/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/kolkata-knight-riders-vs-royal-challengers-bangalore-9th-match-1359483/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/lucknow-super-giants-vs-sunrisers-hyderabad-10th-match-1359484/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/rajasthan-royals-vs-delhi-capitals-11th-match-1359485/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/mumbai-indians-vs-chennai-super-kings-12th-match-1359486/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/gujarat-titans-vs-kolkata-knight-riders-13th-match-1359487/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/sunrisers-hyderabad-vs-punjab-kings-14th-match-1359488/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/royal-challengers-bangalore-vs-lucknow-super-giants-15th-match-1359489/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/delhi-capitals-vs-mumbai-indians-16th-match-1359490/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/chennai-super-kings-vs-rajasthan-royals-17th-match-1359491/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/punjab-kings-vs-gujarat-titans-18th-match-1359492/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/kolkata-knight-riders-vs-sunrisers-hyderabad-19th-match-1359493/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/royal-challengers-bangalore-vs-delhi-capitals-20th-match-1359494/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/lucknow-super-giants-vs-punjab-kings-21st-match-1359495/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/mumbai-indians-vs-kolkata-knight-riders-22nd-match-1359496/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/gujarat-titans-vs-rajasthan-royals-23rd-match-1359497/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/royal-challengers-bangalore-vs-chennai-super-kings-24th-match-1359498/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/sunrisers-hyderabad-vs-mumbai-indians-25th-match-1359499/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/rajasthan-royals-vs-lucknow-super-giants-26th-match-1359500/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/punjab-kings-vs-royal-challengers-bangalore-27th-match-1359501/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/delhi-capitals-vs-kolkata-knight-riders-28th-match-1359502/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/chennai-super-kings-vs-sunrisers-hyderabad-29th-match-1359503/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/lucknow-super-giants-vs-gujarat-titans-30th-match-1359504/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/mumbai-indians-vs-punjab-kings-31st-match-1359505/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/royal-challengers-bangalore-vs-rajasthan-royals-32nd-match-1359506/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/kolkata-knight-riders-vs-chennai-super-kings-33rd-match-1359507/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/sunrisers-hyderabad-vs-delhi-capitals-34th-match-1359508/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/gujarat-titans-vs-mumbai-indians-35th-match-1359509/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/royal-challengers-bangalore-vs-kolkata-knight-riders-36th-match-1359510/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/rajasthan-royals-vs-chennai-super-kings-37th-match-1359511/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/punjab-kings-vs-lucknow-super-giants-38th-match-1359512/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/kolkata-knight-riders-vs-gujarat-titans-39th-match-1359513/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/delhi-capitals-vs-sunrisers-hyderabad-40th-match-1359514/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/chennai-super-kings-vs-punjab-kings-41st-match-1359515/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/mumbai-indians-vs-rajasthan-royals-42nd-match-1359516/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/lucknow-super-giants-vs-royal-challengers-bangalore-43rd-match-1359517/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/gujarat-titans-vs-delhi-capitals-44th-match-1359518/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/lucknow-super-giants-vs-chennai-super-kings-45th-match-1359519/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/punjab-kings-vs-mumbai-indians-46th-match-1359520/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/sunrisers-hyderabad-vs-kolkata-knight-riders-47th-match-1359521/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/rajasthan-royals-vs-gujarat-titans-48th-match-1359522/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/chennai-super-kings-vs-mumbai-indians-49th-match-1359523/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/delhi-capitals-vs-royal-challengers-bangalore-50th-match-1359524/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/gujarat-titans-vs-lucknow-super-giants-51st-match-1359525/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/rajasthan-royals-vs-sunrisers-hyderabad-52nd-match-1359526/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/kolkata-knight-riders-vs-punjab-kings-53rd-match-1359527/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/mumbai-indians-vs-royal-challengers-bangalore-54th-match-1359528/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/chennai-super-kings-vs-delhi-capitals-55th-match-1359529/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/kolkata-knight-riders-vs-rajasthan-royals-56th-match-1359530/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/mumbai-indians-vs-gujarat-titans-57th-match-1359531/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/sunrisers-hyderabad-vs-lucknow-super-giants-58th-match-1359532/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/delhi-capitals-vs-punjab-kings-59th-match-1359533/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/rajasthan-royals-vs-royal-challengers-bangalore-60th-match-1359534/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/chennai-super-kings-vs-kolkata-knight-riders-61st-match-1359535/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/gujarat-titans-vs-sunrisers-hyderabad-62nd-match-1359536/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/lucknow-super-giants-vs-mumbai-indians-63rd-match-1359537/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/punjab-kings-vs-delhi-capitals-64th-match-1359538/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/sunrisers-hyderabad-vs-royal-challengers-bangalore-65th-match-1359539/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/punjab-kings-vs-rajasthan-royals-66th-match-1359540/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/delhi-capitals-vs-chennai-super-kings-67th-match-1359541/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/kolkata-knight-riders-vs-lucknow-super-giants-68th-match-1359542/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/mumbai-indians-vs-sunrisers-hyderabad-69th-match-1359543/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/royal-challengers-bangalore-vs-gujarat-titans-70th-match-1359544/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/chennai-super-kings-vs-gujarat-titans-qualifier-1-1370350/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/lucknow-super-giants-vs-mumbai-indians-eliminator-1370351/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/gujarat-titans-vs-mumbai-indians-qualifier-2-1370352/full-scorecard', 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/gujarat-titans-vs-chennai-super-kings-final-1370353/full-scorecard']

In [ ]:
link.get('href')

# Statistics

In [ ]:
url = 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/gujarat-titans-vs-chennai-super-kings-1st-match-1359475/full-scorecard'
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')
#Team - 1 Batting
table1 = soup.find('table', class_="ds-w-full ds-table ds-table-md ds-table-auto ci-scorecard-table")
t1 = soup.find('span', class_="ds-text-title-xs ds-font-bold ds-capitalize")
values = table1.find_all('td', class_='ds-w-0 ds-whitespace-nowrap ds-min-w-max ds-text-right')
input = []
for value in values:
  input.append(value.text)
#Team - 2 Batting
table2 = table1.find_next('table', class_="ds-w-full ds-table ds-table-md ds-table-auto ci-scorecard-table")
t2 =  t1.find_next('span', class_="ds-text-title-xs ds-font-bold ds-capitalize")
values = table2.find_all('td', class_='ds-w-0 ds-whitespace-nowrap ds-min-w-max ds-text-right')
for value in values:
  input.append(value.text)

lists = []
for i in range(5):
    sublist = input[i:5]  
    lists.append(sublist)
runs = lists[0]
balls = lists[1]
fours = lists[2]
sixes = lists[3]
SR = lists[4]
len(batting_team)

80

# Player Names

In [ ]:
names = []
def playerNames(soup):
  table1 = soup.find('table', class_="ds-w-full ds-table ds-table-md ds-table-auto ci-scorecard-table")
  names_ = table1.find_all('span', class_="ds-text-tight-s ds-font-medium ds-text-typo ds-underline ds-decoration-ui-stroke hover:ds-text-typo-primary hover:ds-decoration-ui-stroke-primary ds-block")
  batting_team = []
  for name in names_:
    names.append(name.text.rstrip('\xa0'))
    batting_team.append(t1.text)
  names_ = table1.find_all('span', class_="ds-text-tight-s ds-font-medium ds-text-typo ds-underline ds-decoration-ui-stroke hover:ds-text-typo-primary hover:ds-decoration-ui-stroke-primary ds-block")
  for name in names_:
    names.append(name.text.rstrip('\xa0'))
    batting_team.append(t2.text)
len(batting_team)

80

# Match details

In [ ]:
match_name_list = []
match_id_list = []
def matchDetails(soup):
  team1 = soup.find('span', class_="ds-text-tight-l ds-font-bold ds-text-typo hover:ds-text-typo-primary ds-block ds-truncate")
  team2 = team1.find_next('span', class_="ds-text-tight-l ds-font-bold ds-text-typo hover:ds-text-typo-primary ds-block ds-truncate")
  match_name = (f"{team1.text} Vs {team2.text}")

  match_id = re.sub(r".*?match-", "", url)
  match_id = re.sub(r"/f.*", "", match_id)
  for i in range(len(names)):
    match_name_list.append(match_name)
    match_id_list.append(match_id)

# Zipping to CSV

In [ ]:
def zipping():
  df = pd.DataFrame(zip(match_id_list, match_name_list, names, runs, balls, fours, sixes, SR), columns=['Match ID', 'Match teams', 'Player name','Runs', 'Balls', '4s', '6s', 'Strike Rate'])
  csv_file = 'ipl23_batting_summary3.csv'

  df.to_csv(csv_file, mode ='a', header=False, index=False)

  print(f'Data saved to {csv_file}.')

# Calls
# New Section

In [ ]:
urls

In [ ]:
count = 1
url = "https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/gujarat-titans-vs-chennai-super-kings-1st-match-1359475/full-scorecard"
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

#Team - 1 Batting
table1 = soup.find('table', class_="ds-w-full ds-table ds-table-md ds-table-auto ci-scorecard-table")
t1 = soup.find('span', class_="ds-text-title-xs ds-font-bold ds-capitalize")
values = table1.find_all('td', class_='ds-w-0 ds-whitespace-nowrap ds-min-w-max ds-text-right')
input = []
for value in values:
  input.append(value.text)
#Team - 2 Batting
table2 = table1.find_next('table', class_="ds-w-full ds-table ds-table-md ds-table-auto ci-scorecard-table")
t2 =  t1.find_next('span', class_="ds-text-title-xs ds-font-bold ds-capitalize")
values = table2.find_all('td', class_='ds-w-0 ds-whitespace-nowrap ds-min-w-max ds-text-right')
for value in values:
  input.append(value.text)

lists = []
for i in range(5):
    sublist = input[i::5]  
    lists.append(sublist)
runs = lists[0]
balls = lists[1]
fours = lists[2]
sixes = lists[3]
SR = lists[4]
names = []
table1 = soup.find('table', class_="ds-w-full ds-table ds-table-md ds-table-auto ci-scorecard-table")
names_ = table1.find_all('span', class_="ds-text-tight-s ds-font-medium ds-text-typo ds-underline ds-decoration-ui-stroke hover:ds-text-typo-primary hover:ds-decoration-ui-stroke-primary ds-block")
batting_team = []
for name in names_:
  names.append(name.text.rstrip('\xa0'))
  batting_team.append(t1.text)
table2 = table1.find_next('table', class_="ds-w-full ds-table ds-table-md ds-table-auto ci-scorecard-table")
names_ = table2.find_all('span', class_="ds-text-tight-s ds-font-medium ds-text-typo ds-underline ds-decoration-ui-stroke hover:ds-text-typo-primary hover:ds-decoration-ui-stroke-primary ds-block")
for name in names_:
  names.append(name.text.rstrip('\xa0'))
  batting_team.append(t2.text)
match_name_list = []
match_id_list = []
team1 = soup.find('span', class_="ds-text-tight-l ds-font-bold ds-text-typo hover:ds-text-typo-primary ds-block ds-truncate")
team2 = team1.find_next('span', class_="ds-text-tight-l ds-font-bold ds-text-typo hover:ds-text-typo-primary ds-block ds-truncate")
match_name = (f"{team1.text} Vs {team2.text}")

match_id = re.sub(r".*?match-", "", url)
match_id = re.sub(r"/f.*", "", match_id)
for i in range(len(names)):
  match_name_list.append(match_name)
  match_id_list.append(match_id)
print(match_id_list)
df = pd.DataFrame(zip(match_id_list, match_name_list, batting_team, names, runs, balls, fours, sixes, SR), columns=['Match ID', 'Match teams','Batting team', 'Player name','Runs', 'Balls', '4s', '6s', 'Strike Rate'])
csv_file = 'ipl23_batting_summary.csv'

df.to_csv(csv_file, mode ='a', header=False, index=False)

print(f'Match - {count} - Data saved to {csv_file}.')
df

['1359475', '1359475', '1359475', '1359475', '1359475', '1359475', '1359475', '1359475', '1359475', '1359475', '1359475', '1359475', '1359475', '1359475', '1359475', '1359475']
Match - 1 - Data saved to ipl23_batting_summary.csv.

,Match ID,Match teams,Batting team,Player name,Runs,Balls,4s,6s,Strike Rate
0,1359475,Chennai Super Kings Vs Gujarat Titans,Chennai Super Kings,Devon Conway,1,6,0,0,16.66
1,1359475,Chennai Super Kings Vs Gujarat Titans,Chennai Super Kings,Ruturaj Gaikwad,92,50,4,9,184.00
2,1359475,Chennai Super Kings Vs Gujarat Titans,Chennai Super Kings,Moeen Ali,23,17,4,1,135.29
3,1359475,Chennai Super Kings Vs Gujarat Titans,Chennai Super Kings,Ben Stokes,7,6,1,0,116.66
4,1359475,Chennai Super Kings Vs Gujarat Titans,Chennai Super Kings,Ambati Rayudu,12,12,0,1,100.00
5,1359475,Chennai Super Kings Vs Gujarat Titans,Chennai Super Kings,Shivam Dube,19,18,0,1,105.55
6,1359475,Chennai Super Kings Vs Gujarat Titans,Chennai Super Kings,Ravindra Jadeja,1,2,0,0,50.00
7,1359475,Chennai Super Kings Vs Gujarat Titans,Chennai Super Kings,MS Dhoni (c)†,14,7,1,1,200.00
8,1359475,Chennai Super Kings Vs Gujarat Titans,Chennai Super Kings,Mitchell Santner,1,3,0,0,33.33
9,1359475,Chennai Super Kings Vs Gujarat Titans,Gujarat Titans,Wriddhiman Saha †,25,16,2,2,156.25
10,1359475,Chennai Super Kings Vs Gujarat Titans,Gujarat Titans,Shubman Gill,63,36,6,3,175.00
11,1359475,Chennai Super Kings Vs Gujarat Titans,Gujarat Titans,Sai Sudharsan,22,17,3,0,129.41
12,1359475,Chennai Super Kings Vs Gujarat Titans,Gujarat Titans,Hardik Pandya (c),8,11,0,0,72.72
13,1359475,Chennai Super Kings Vs Gujarat Titans,Gujarat Titans,Vijay Shankar,27,21,2,1,128.57
14,1359475,Chennai Super Kings Vs Gujarat Titans,Gujarat Titans,Rahul Tewatia,15,14,1,1,107.14
15,1359475,Chennai Super Kings Vs Gujarat Titans,Gujarat Titans,Rashid Khan,10,3,1,1,333.33

In [ ]:
count = 2
for url in urls[1:]:
  response = requests.get(url)
  soup = BeautifulSoup(response.content, 'html.parser')
  balls = []
  fours = []
  sixes = []
  SR = []
  #Team - 1 Batting
  table1 = soup.find('table', class_="ds-w-full ds-table ds-table-md ds-table-auto ci-scorecard-table")
  t1 = soup.find('span', class_="ds-text-title-xs ds-font-bold ds-capitalize")
  values = table1.find_all('td', class_='ds-w-0 ds-whitespace-nowrap ds-min-w-max ds-text-right')
  input = []
  for value in values:
    input.append(value.text)
  #Team - 2 Batting
  try:
    table2 = table1.find_next('table', class_="ds-w-full ds-table ds-table-md ds-table-auto ci-scorecard-table")
    t2 =  t1.find_next('span', class_="ds-text-title-xs ds-font-bold ds-capitalize")
    values = table2.find_all('td', class_='ds-w-0 ds-whitespace-nowrap ds-min-w-max ds-text-right')
    for value in values:
      input.append(value.text)
  except AttributeError:
    print(f" Match number {count} was suspended \n url: {url} ,")
    continue

  
  lists = []
  for i in range(6):
      sublist = input[i::6]  
      lists.append(sublist)
  runs = lists[0]
  balls = lists[1]
  fours = lists[3]
  sixes = lists[4]
  SR = lists[5]
  names = []
  table1 = soup.find('table', class_="ds-w-full ds-table ds-table-md ds-table-auto ci-scorecard-table")
  names_ = table1.find_all('span', class_="ds-text-tight-s ds-font-medium ds-text-typo ds-underline ds-decoration-ui-stroke hover:ds-text-typo-primary hover:ds-decoration-ui-stroke-primary ds-block")
  batting_team = []
  for name in names_:
    names.append(name.text.rstrip('\xa0'))
    batting_team.append(t1.text)
  table2 = table1.find_next('table', class_="ds-w-full ds-table ds-table-md ds-table-auto ci-scorecard-table")
  names_ = table2.find('span', class_="ds-text-tight-s ds-font-medium ds-text-typo ds-underline ds-decoration-ui-stroke hover:ds-text-typo-primary hover:ds-decoration-ui-stroke-primary ds-block")
  for name in names_:
    names.append(name.text.rstrip('\xa0'))
    batting_team.append(t2.text)
  match_name_list = []
  match_id_list = []
  team1 = soup.find('span', class_="ds-text-tight-l ds-font-bold ds-text-typo hover:ds-text-typo-primary ds-block ds-truncate")
  team2 = team1.find_next('span', class_="ds-text-tight-l ds-font-bold ds-text-typo hover:ds-text-typo-primary ds-block ds-truncate")
  match_name = (f"{team1.text} Vs {team2.text}")

  match_id = re.sub(r".*?match-", "", url)
  if match_id == url:
    match_id = re.sub(r".*?-137", "137", url)
  match_id = re.sub(r"/f.*", "", match_id)
  for i in range(len(names)):
    match_name_list.append(match_name)
    match_id_list.append(match_id)
  df = pd.DataFrame(zip(match_id_list, match_name_list, batting_team, names, runs, balls, fours, sixes, SR), columns=['Match ID', 'Match teams','Batting team', 'Player name','Runs', 'Balls', '4s', '6s', 'Strike Rate'])
  csv_file = 'ipl23_batting_summary.csv'

  df.to_csv(csv_file, mode ='a', header=True, index=False)

  print(f'Match - {count-1} - Data saved to {csv_file}.')
  count = count+1

Match - 1 - Data saved to ipl23_batting_summary.csv.
Match - 2 - Data saved to ipl23_batting_summary.csv.
Match - 3 - Data saved to ipl23_batting_summary.csv.
Match - 4 - Data saved to ipl23_batting_summary.csv.
Match - 5 - Data saved to ipl23_batting_summary.csv.
Match - 6 - Data saved to ipl23_batting_summary.csv.
Match - 7 - Data saved to ipl23_batting_summary.csv.
Match - 8 - Data saved to ipl23_batting_summary.csv.
Match - 9 - Data saved to ipl23_batting_summary.csv.
Match - 10 - Data saved to ipl23_batting_summary.csv.
Match - 11 - Data saved to ipl23_batting_summary.csv.
Match - 12 - Data saved to ipl23_batting_summary.csv.
Match - 13 - Data saved to ipl23_batting_summary.csv.
Match - 14 - Data saved to ipl23_batting_summary.csv.
Match - 15 - Data saved to ipl23_batting_summary.csv.
Match - 16 - Data saved to ipl23_batting_summary.csv.
Match - 17 - Data saved to ipl23_batting_summary.csv.
Match - 18 - Data saved to ipl23_batting_summary.csv.
Match - 19 - Data saved to ipl23_batting_summary.csv.
Match - 20 - Data saved to ipl23_batting_summary.csv.
Match - 21 - Data saved to ipl23_batting_summary.csv.
Match - 22 - Data saved to ipl23_batting_summary.csv.
Match - 23 - Data saved to ipl23_batting_summary.csv.
Match - 24 - Data saved to ipl23_batting_summary.csv.
Match - 25 - Data saved to ipl23_batting_summary.csv.
Match - 26 - Data saved to ipl23_batting_summary.csv.
Match - 27 - Data saved to ipl23_batting_summary.csv.
Match - 28 - Data saved to ipl23_batting_summary.csv.
Match - 29 - Data saved to ipl23_batting_summary.csv.
Match - 30 - Data saved to ipl23_batting_summary.csv.
Match - 31 - Data saved to ipl23_batting_summary.csv.
Match - 32 - Data saved to ipl23_batting_summary.csv.
Match - 33 - Data saved to ipl23_batting_summary.csv.
Match - 34 - Data saved to ipl23_batting_summary.csv.
Match - 35 - Data saved to ipl23_batting_summary.csv.
Match - 36 - Data saved to ipl23_batting_summary.csv.
Match - 37 - Data saved to ipl23_batting_summary.csv.
Match - 38 - Data saved to ipl23_batting_summary.csv.
Match - 39 - Data saved to ipl23_batting_summary.csv.
Match - 40 - Data saved to ipl23_batting_summary.csv.
Match - 41 - Data saved to ipl23_batting_summary.csv.
Match - 42 - Data saved to ipl23_batting_summary.csv.
Match - 43 - Data saved to ipl23_batting_summary.csv.
 Match number 45 was suspended
 url: https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/lucknow-super-giants-vs-chennai-super-kings-45th-match-1359519/full-scorecard ,
Match - 44 - Data saved to ipl23_batting_summary.csv.
Match - 45 - Data saved to ipl23_batting_summary.csv.
Match - 46 - Data saved to ipl23_batting_summary.csv.
Match - 47 - Data saved to ipl23_batting_summary.csv.
Match - 48 - Data saved to ipl23_batting_summary.csv.
Match - 49 - Data saved to ipl23_batting_summary.csv.
Match - 50 - Data saved to ipl23_batting_summary.csv.
Match - 51 - Data saved to ipl23_batting_summary.csv.
Match - 52 - Data saved to ipl23_batting_summary.csv.
Match - 53 - Data saved to ipl23_batting_summary.csv.
Match - 54 - Data saved to ipl23_batting_summary.csv.
Match - 55 - Data saved to ipl23_batting_summary.csv.
Match - 56 - Data saved to ipl23_batting_summary.csv.
Match - 57 - Data saved to ipl23_batting_summary.csv.
Match - 58 - Data saved to ipl23_batting_summary.csv.
Match - 59 - Data saved to ipl23_batting_summary.csv.
Match - 60 - Data saved to ipl23_batting_summary.csv.
Match - 61 - Data saved to ipl23_batting_summary.csv.
Match - 62 - Data saved to ipl23_batting_summary.csv.
Match - 63 - Data saved to ipl23_batting_summary.csv.
Match - 64 - Data saved to ipl23_batting_summary.csv.
Match - 65 - Data saved to ipl23_batting_summary.csv.
Match - 66 - Data saved to ipl23_batting_summary.csv.
Match - 67 - Data saved to ipl23_batting_summary.csv.
Match - 68 - Data saved to ipl23_batting_summary.csv.
Match - 69 - Data saved to ipl23_batting_summary.csv.
Match - 70 - Data saved to ipl23_batting_summary.csv.
Match - 71 - Data saved to ipl23_batting_summary.csv.
Match - 72 - Data saved to ipl23_batting_summary.csv.

In [ ]:
df.head(10)

,Match ID,Match teams,Batting team,Player name,Runs,Balls,4s,6s,Strike Rate
0,1370353,Gujarat Titans Vs Chennai Super Kings,Gujarat Titans,Wriddhiman Saha †,54,39,5,1,138.46
1,1370353,Gujarat Titans Vs Chennai Super Kings,Gujarat Titans,Shubman Gill,39,20,7,0,195.00
2,1370353,Gujarat Titans Vs Chennai Super Kings,Gujarat Titans,Sai Sudharsan,96,47,8,6,204.25
3,1370353,Gujarat Titans Vs Chennai Super Kings,Gujarat Titans,Hardik Pandya (c),21,12,0,2,175.00
4,1370353,Gujarat Titans Vs Chennai Super Kings,Gujarat Titans,Rashid Khan,0,2,0,0,0.00
5,1370353,Gujarat Titans Vs Chennai Super Kings,Chennai Super Kings,Ruturaj Gaikwad,26,16,3,1,162.50

In [ ]:
urls[42]

'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/lucknow-super-giants-vs-royal-challengers-bangalore-43rd-match-1359517/full-scorecard'

In [ ]:
url = 'https://www.espncricinfo.com/series/indian-premier-league-2023-1345038/gujarat-titans-vs-chennai-super-kings-1st-match-1359475/full-scorecard'
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')
run(soup)

Data saved to ipl23_batting_summary2.csv.

In [ ]:
column_headers = df.columns.tolist()

# Print the column headers
print(column_headers)
df

NameError: ignored

In [ ]:
with open(csv_file, 'w') as file:
    # Truncate the file, effectively clearing its contents
    file.truncate()

NameError: ignored